/*
 * Form-style-5
 */

 .detailStyle {
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    justify-content: space-evenly;
}

.detailStyle fieldset {
    border: none;
}

.detailStyle legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.detailStyle label {
    display: block;
    margin-bottom: 8px;
}

