*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box; 
}

html{
    font-family: Arial, sans-serif;
}
img{
    width: 50%;
    height: 50%;
}

.contenedor{
    width: 50%;
    position: relative;
    height: 780px;    
}

.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.trasero{
    left: 2%;
    top: calc(50% - 70px);
}
.delantero{
    right: 2%;
    top: calc(50% - 70px);
}

